<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="btn btn-primary" 
			onClick="displayProducts();">Admin</button>
		</td>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/PID2.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.productName}}</h3>
                <p class="description">{{this.productDesc}}</p>
                <div class="clearfix">
                    <div class="price pull-left">{{this.price}}</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
            </div>
            </div>
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/PID2.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.productName}}</h3>
                <p class="description">{{this.productDesc}}</p>
                <div class="clearfix">
                    <div class="price pull-left">{{this.price}}</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
        </div>
 <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/PID2.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.productName}}</h3>
                <p class="description">{{this.productDesc}}</p>
                <div class="clearfix">
                    <div class="price pull-left">{{this.price}}</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/PID4.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.productName}}</h3>
                <p class="description">{{this.productDesc}}</p>
                <div class="clearfix">
                    <div class="price pull-left">{{this.price}}</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/PID4.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.productName}}</h3>
                <p class="description">{{this.productDesc}}</p>
                <div class="clearfix">
                    <div class="price pull-left">{{this.price}}</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
            <img src="./images/PID4.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.productName}}</h3>
                <p class="description">{{this.productDesc}}</p>
                <div class="clearfix">
                    <div class="price pull-left">{{this.price}}</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div> 

</div>